<!doctype html>
<html>
<head>
<title>Combat Simulator</title> </head>
<link href="./stylesheets/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src='./javascripts/combat.js'></script>
<body>
{{{body}}}

<body>
</body>
</html>
